<!DOCTYPE html>
<html lang="en" ng-app="OuYaApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title translate="{{'Title'}}">Ad-free, expiring Url-shortener</title>
    <meta name="description" content="fade.at / hurz.to is an expiring url-shortener">
    <meta name="author" content="Ole Albers">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <!-- Le styles -->
    <link href="css/style.css?v=1" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script src="js/rotate.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-clipboard/angular-clipboard.js"></script>
    <script src="./bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="./bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script src="./bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="./bower_components/chart.js/Chart.bundle.min.js"></script>
    <script src="./bower_components/angular-chart.js/angular-chart.min.js"></script>


    <script src="./js/app.js"></script>

</head>

<body>

<div id="loading"></div>


<div class="background" ng-controller="MainController">
    <div class="wrapper">
        <div class="monster"><img src="images/monster.png" alt=""></div>

        <div class="bubble">
            <a href="/"><img src="images/{{'Image'|translate}}"></a>
            <p translate="{{'Slogan'}}"></p>
        </div>

        <div class="rightFromMonster">
            <div class="showUrl" ng-if="responseUrl.Short">
                <p>{{"Congrats" | translate}}</p>
                <span class="muchobiggoprefix muchobiggo">http://{{"Host"|translate}}/</span><span class="muchobiggo">{{responseUrl.Short}} </span>
                <div class="success" ng-show="copySuccess">{{"CopiedToClipboard"|translate}}</div>

                <md-button class="buttonCopy md-primary md-raised" on-copied="Copied()" text="responseUrl.Full()"
                           clipboard>{{"Copy"|translate}}
                </md-button>
                <div class="statsUrl">
                    <span>{{ "StatsInfo" |translate}}</span><br/>
                    <a href="http://{{myHost}}/{{responseUrl.Short}}/stats">http://{{myHost}}/{{responseUrl.Short}}/stats</a>

                </div>
            </div>
            <form name="shortForm" ng-if="!responseUrl.Short">
                <md-content layout-padding="">
                    <div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>{{"TargetUrl"|translate}}</label>
                                <input name="target" ng-model="target.value" required="required" type="url">
                                <div role="alert">
                                    <div class="error" ng-show="shortForm.target.$error.url">
                                        {{"ErrorUrlInvalid"|translate}}
                                    </div>
                                    <div class="error" ng-show="shortForm.target.$error.required">
                                        {{ErrorUrlRequired|translate}}
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>{{"UseCustomUrl"|translate}}</label>
                                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink"
                                           ng-change="SwitchCustom()" ng-model="customUrl.enabled">
                                    {{customUrlText[customUrl.enabled]}}
                                </md-switch>
                            </md-input-container>
                        </div>
                        <div ng-if="customUrl.enabled" layout-gt-xs="row" class="bottom20">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>{{"CustomUrl"|translate}}</label>

                                <input name="customUrl" ng-change="CheckToken(customUrl.value)" ng-minlength="5"
                                       ng-trim="true" id="shortUrl" ng-model="customUrl.value"
                                       pattern="^[^0][a-zA-Z0-9]*$" required="required"
                                       placeholder="{{'CustomUrlPlaceholder'|translate}}">
                                <div role="alert">
                                    <div class="error" ng-show="shortForm.customUrl.$error.minlength">
                                        {{"ErrorShortCharacters"|translate}}
                                    </div>
                                    <div class="error" ng-show="shortForm.customUrl.$error.pattern">
                                        {{"ErrorShortLetters"|translate}}
                                    </div>
                                    <div class="error" ng-show="shortForm.customUrl.$error.required">
                                        {{"ErrorShortRequired"|translate}}
                                    </div>
                                    <div class="error" ng-show="shortUrlPhpError">{{shortUrlPhpError}}</div>
                                    <div class="error" ng-show="customCount>0">{{"ErrorShortInUse"|translate}}</div>
                                </div>
                                <div role="success">
                                    <div class="success" ng-show="customCount==0">{{"OkShort"|translate}}</div>
                                </div>
                            </md-input-container>

                        </div>
                        <div ng-show="customUrl.enabled" class="prefix">http://{{myHost}}/<span class="prefix">{{customUrl.value}}</span>
                        </div>
                        <div layout-gt-xs="row">
                            <h3>
                                {{"ExpirationTitle"|translate}}
                            </h3>
                        </div>
                        <div layout-gt-xs="row">
                            <md-switch class="md-primary" ng-disabled="customUrl.enabled" md-no-ink
                                       aria-label="Switch No Ink" ng-model="expiration.enabled">
                                    {{expirationText[expiration.enabled]}} <span class="expirationText">{{HumanReadableExpiration()}}</span>
                            </md-switch>
                        </div>
                        <div ng-show="expiration.enabled">
                            <div layout-gt-xs="row">

                                <md-slider-container>
                                    <span class="md-body-1">{{"ExpirationDays"|translate}}</span>
                                    <md-slider flex ng-model="expiration.days" min="0" max="120" aria-label="days">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="expiration.days" aria-label="red"
                                               aria-controls="red-slider">
                                    </md-input-container>

                                </md-slider-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-slider-container>
                                    <span>{{"ExpirationHours"|translate}}</span>
                                    <md-slider flex ng-model="expiration.hours" min="0" max="23" aria-label="hours">

                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="expiration.hours" aria-label="red"
                                               aria-controls="red-slider">
                                    </md-input-container>

                                </md-slider-container>
                            </div>
                            <div layout-gt-xs="row">
                                <md-slider-container>
                                    <span>{{"ExpirationMinutes"|translate}}</span>
                                    <md-slider flex min="0" max="59" ng-model="expiration.minutes" aria-label="minutes">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="expiration.minutes" aria-label="red"
                                               aria-controls="red-slider">
                                    </md-input-container>

                                </md-slider-container>
                            </div>
                        </div>
                        <div class="iHateSpammers">
                            <input type="checkbox" ng-model="checks.first" ng-checked="shortForm.$valid" >nummero uno
                            <input type="checkbox" ng-model="checks.second">nummero duo
                        </div>
                        <md-button class="buttonRight md-primary md-raised" ng-click="AddShortUrl()"
                                   ng-disabled="shortForm.$invalid">{{"Create"|translate}}
                        </md-button>
                        <div class="saveError" ng-show="saveError">
                            <div class="error">{{saveError}}</div>
                        </div>
                        <!-- <div class="buttonRight"><a class="btn md-raised md-primary md-button">Create</a></div>-->
                    </div>
                </md-content>
            </form>

            <div class="social">


            </div>



        </div>
        <footer>
            <a href="{{ 'ImprintUrl' |translate }}" target="_blank">{{ "Imprint" |translate}}</a><a href="{{ 'FaqUrl' | translate}}" target="_blank">FAQ</a>
        </footer>
    </div>
</div>
</body>
</html>
